/* Widths */
.w-5 {
    width: 5%!important;
}
.w-10 {
    width: 10%!important;
}
.w-15 {
    width: 15%!important;
}
.w-20 {
    width: 20%!important;
}
.w-25 {
    width: 25%!important;
}
.w-50 {
    width: 50%!important;
}
.w-75 {
    width: 75%!important;
}
.w-100 {
    width: 100%!important;
}
/* Buttons */
.btn {
    border-radius: var(--border-radius-default);
    padding: 0.6rem;
    font-size: var(--size-6);
}
.btn-outline-success {
    border: 0.1rem solid var(--primary-color)!important;
    background: none;
    color: var(--primary-color)!important;
}
/* Form */
.form-control,
.form-control-inline-block {
    padding: .375rem;
    padding-left: 1rem;
    font-size: var(--size-6);
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
    background-clip: border-box;
    border: 1px solid var(--primary-color);
}
.form-control {
    display: block;
    width: 100%;
    border: 1px solid var(--border-color-default);
    border-radius: 0.375rem;
}
.form-control::placeholder {
    font-size: var(--size-6);
}
.form-control:focus {
    outline: none;
    border: 0.1rem solid var(--border-color-default);
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}
.form-control-inline-block {
    display: inline-block;
    border-radius: 0.375rem;
}

.form-control-inline-block:focus {
    outline: none;
    border-color: var(--light-color);
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}
/* Gaps */
.g-1 {
    gap: var(--size-6);
}
.g-2 {
    gap: var(--size-5);
}
.g-3 {
    gap: var(--size-4);
}
.g-4 {
    gap: var(--size-3);
}
.g-5 {
    gap: var(--size-2);
}
.g-6 {
    gap: var(--size-1);
}
/* Paddings */
.p-1 {
    padding: var(--size-6);
}
.p-2 {
    padding: var(--size-5);
}
.p-3 {
    padding: var(--size-4);
}
.p-4 {
    padding: var(--size-3);
}
.p-5 {
    padding: var(--size-2);
}
.p-6 {
    padding: var(--size-1);
}
.pt-1 {
    padding-top: var(--size-6);
}
.pt-2 {
    padding-top: var(--size-5);
}
.pt-3 {
    padding-top: var(--size-4);
}
.pt-4 {
    padding-top: var(--size-3);
}
.pt-5 {
    padding-top: var(--size-2);
}
.pt-6 {
    padding-top: var(--size-1);
}
.pe-1 {
    padding-right: var(--size-6);
}
.pe-2 {
    padding-right: var(--size-5);
}
.pe-3 {
    padding-right: var(--size-4);
}
.pe-4 {
    padding-right: var(--size-3);
}
.pe-5 {
    padding-right: var(--size-2);
}
.pe-6 {
    padding-right: var(--size-1);
}
.ps-1 {
    padding-left: var(--size-6);
}
.ps-2 {
    padding-left: var(--size-5);
}
.ps-3 {
    padding-left: var(--size-4);
}
.ps-4 {
    padding-left: var(--size-3);
}
.ps-5 {
    padding-left: var(--size-2);
}
.ps-6 {
    padding-left: var(--size-1);
}
.pb-1 {
    padding-bottom: var(--size-6);
}
.pb-2 {
    padding-bottom: var(--size-5);
}
.pb-3 {
    padding-bottom: var(--size-4);
}
.pb-4 {
    padding-bottom: var(--size-3);
}
.pb-5 {
    padding-bottom: var(--size-2);
}
.pb-6 {
    padding-bottom: var(--size-1);
}
/* Positions */
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
/* Margins */
.m-auto {
    margin: 0 auto;
}
.m-1 {
    margin: var(--size-6);
}
.m-2 {
    margin: var(--size-5);
}
.m-3 {
    margin: var(--size-4);
}
.m-4 {
    margin: var(--size-3);
}
.m-5 {
    margin: var(--size-2);
}
.m-6 {
    margin: var(--size-1);
}
.ms-1 {
    margin: var(--size-6);
}
.ms-2 {
    margin: var(--size-5);
}
.ms-3 {
    margin: var(--size-4);
}
.ms-4 {
    margin: var(--size-3);
}
.ms-5 {
    margin: var(--size-2);
}
.ms-6 {
    margin: var(--size-1);
}
.mt-1 {
    margin: var(--size-6);
}
.mt-2 {
    margin: var(--size-5);
}
.mt-3 {
    margin: var(--size-4);
}
.mt-4 {
    margin: var(--size-3);
}
.mt-5 {
    margin: var(--size-2);
}
.mt-6 {
    margin: var(--size-1);
}
.me-1 {
    margin: var(--size-6);
}
.me-2 {
    margin: var(--size-5);
}
.me-3 {
    margin: var(--size-4);
}
.me-4 {
    margin: var(--size-3);
}
.me-5 {
    margin: var(--size-2);
}
.me-6 {
    margin: var(--size-1);
}
.mb-1 {
    margin: var(--size-6);
}
.mb-2 {
    margin: var(--size-5);
}
.mb-3 {
    margin: var(--size-4);
}
.mb-4 {
    margin: var(--size-3);
}
.mb-5 {
    margin: var(--size-2);
}
.mb-6 {
    margin: var(--size-1);
}
/* Container */
.container {
    width: 75rem!important;
}
/* Fonts */
.fs-1 {
    font-size: var(--size-1);
}
.fs-2 {
    font-size: var(--size-2);
}
.fs-3 {
    font-size: var(--size-3);
}
.fs-4 {
    font-size: var(--size-4);
}
.fs-5 {
    font-size: var(--size-5);
}
.fs-6 {
    font-size: var(--size-6);
}

/* Borders */
.border {
    border: 1px solid var(--border-color-default);
}
.border-collapse {
    border-collapse: collapse;
}
.rounded {
    border-radius: 0.6em!important;
}

/* Display */
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.flex-column {
    flex-direction: column;
}

.d-inline-block {
    display: inline-block;
}
/* Text */
.text-decoration-none {
    text-decoration: none;
}
.text-light {
    color: var(--light-color)!important;
}
.text-dark {
    color: var(--dark-color);
}
.text-secondary  {
    color: var(--secondary-color);
}
.text-primary {
    color: var(--primary-color);
}
.text-danger {
    color: #F75A68;    ;
}
.text-center {
    text-align: center;
}

/* Background */
.bg-primary {
    background-color: var(--primary-color)!important;
}
.bg-secondary {
    background-color: var(--secondary-color)!important;
}
.bg-dark {
    background-color: var(--dark-color)!important;
}